// -----------------------------------------------------------------------------
// This file contains all typography based content.
// -----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

///  font family list

$base-font: 'Roboto', sans-serif; 


/// Font weights

@mixin normal-font{
    font-family: $base-font;
    font-weight: 400;
}

@mixin medium-font{
    font-family: $base-font;
    font-weight: 500;
}

@mixin semibold-font {
    font-family: $base-font;
    font-weight: 700;
}

@mixin bold-font {
    font-family: $base-font;
    font-weight: 900;
}